* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color:#537B2F;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: auto;
}

section#login {
    background-color: #E4EB9C;
    width: 250px;
    min-height: 500px;
    height: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 20px #142C14;
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: url('../img/freiren.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    box-shadow: inset 2px 2px 20px #142C14;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

form > div.campo {
    background-color: #537B2F;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    text-align: center;
}

div.campo label {
    display: none; 
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #142C14;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

div.campo {
    color: white;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #ffffff;
    font-size: 1em;
    width: calc(100% - 30px);
    border: none;
    transform: translateY(-2px);
    height: 100%;
    border-radius: 5px;
}

div.campo input {
    padding-left: 5px;
}

div.campo > span.material-symbols-outlined {
    transform: translateY(3px);
}

form > input[type=submit]:hover {
    background-color: #537B2F;
} 

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #E4EB9C;
    border: 2px solid #142C14;
    border-radius: 5px;
    color: #142C14;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #142C14;
    color: white;
}

form > a.botao > span {
    font-size: 1em;
    vertical-align: -4px;
}

div#naoFiz {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
    font-size: 5em;
    color: #E4EB9C;
    text-shadow: 2px 2px 2px #142C14;
}      